extends layout

block content
  h1= title
  div.container
    div.row.mb-2
      div.col-2
        label(for="card_num") Card number
      div.col-2
        input#card_num.w-100(type="number")
      div.col-4
        input#sec_card_num.w-100

    div.row.mb-2
      div.col-2
        label(for="card_date") Exp date
      div.col-2
        input#card_date.w-100(type="date")
      div.col-4
        input#sec_card_date.w-100

    div.row.mb-2
      div.col-2
        label(for="card_cvv") CVV
      div.col-2
        input#card_cvv.w-100(type="number")
      div.col-4
        input#sec_card_cvv.w-100

    div.row
      div.col-4.d-flex.justify-content-end
        button#send SEND
      div.col-4.d-flex.justify-content-end
        button#reveal(disabled) REVEAL
